@tailwind base;
@tailwind components;
@tailwind utilities;

.rbc-header {
  background: #797979;
  color: white;
  padding: 10px;
  font-size: 12px;
}

.rbc-event {
  padding: 0px !important;
  border-radius: 0px !important;
  border: none !important;
  background-color: transparent !important;
}

.rbc-time-slot {
  background-color: antiquewhite;
  color: aqua;
}

.rbc-event-label {
  display:block !important;
}

.rbc-events-container {
  width: 100% !important;
}

.rbc-timeslot-group{
    min-height: 120px !important;
}